* {
  font-family: Trebuchet MS, sans-serif
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

button:hover {
  background-color: lightgrey
}

button {
  cursor: pointer;
  padding: 5px;
  box-shadow: 3px black;
  background-color: white;
}

.square-2 > button {
  cursor: pointer;
  padding: 5px;
  box-shadow: 3px black;
  background-color: white;
}

.completely-random-exercise {
  background-color: white;
}

.main-content-area {
  display: flex;
  /* position: relative; */
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
}

.completely-random-button-area {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.square-1 {
  height: 400px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  background-color: rgba(225, 225, 225, .9);
    border: 2px solid black;
}

.square-2 {
  height: 400px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  background-color: rgba(225, 225, 225, .9);
    border: 2px solid black;
}

.square-3{
  height: 400px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  background-color: rgba(225, 225, 225, .9);
    border: 2px solid black;
}

.hidden {
  display: none;
}

.what-to-practice-display {
  display: flex;
  align-items: center;
  justify-content: center;
}

#play-button {
    width: 75px;
    height: 75px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

#tempo {
    font-size: 40px;
}

.bpm {
    font-size: 12px;
    text-align: center;
}

.tempo-controls {
    /* margin-top: 30px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
    padding-right: 25px;
    padding-left: 25px;
}

.tempo-container {
    margin: 0 15px;
}

.metronome-title {
  padding-right: 25px;
  font-size: 20px;
  padding-left: 25px;
}

.play {
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 50px solid #e9e9e9;
    margin-left: 15px;
}

.pause {
    width: 15px;
    height: 60px;
    border: none;
    border-left: 15px solid #e9e9e9;
    border-right: 15px solid #e9e9e9;
}

.the-metronome {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  border: 2px solid black;
  padding: 5px;
  background-color: rgba(225, 225, 225, .9);
}
